ul {
  li {
    display: flex
  }
}

h1 {
  @media (max-width:720px) {
    font-size: 1.5rem;
  }
}

input {
  border: none;
  background: transparent;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  width:100%;
  @media (max-width:720px) {
    font-size: 1.5rem;
  }
}

  *:focus {
    outline: none;
}

.select-container {
  display: flex;
  align-items: center;
  p {
    margin-left: 1rem;
  }

}

.header {
  display: flex;
  align-items: center;
  
}

.img-cont {
  display: flex;
  align-items: center;
  img {
    width:100%;
    height:auto;
    min-width:100px;
  }
  @media (max-width:720px) {
    max-width: 150px;
    align-items: flex-start;
  }
}

.info-cont {
  margin-left: .7rem;
}
