<!-- <ul>
  <li *ngFor="let comment of comments; index as i">
    <div>
      {}
      <p>Posted by <a href="">u/{{ comment.data.author }}</a> points: {{ comment.data.score }} </p>
      <p>{{ comment.data.body }}</p>
      <p></p>
    </div>
    <ul *ngIf="comment.data.replies.data">
      <li *ngFor="let comment of comment.data.replies.data.children; index as i">
        <div>
          <p>Posted by <a href="">u/{{ comment.data.author }}</a> points: {{ comment.data.score }} </p>
          <p>{{ comment.data.body }}</p>
          <p></p>
        </div>
      </li>
    </ul>
  </li>
</ul>
 -->
